{% extends 'base.html' %}
{% block title %}Omborni o‘chirish{% endblock %}
{% block content %}
<div class="card main-card">
    <div class="card-body">
        <p>Rostdan ham "{{ ombor.name }}" omborini o‘chirmoqchimisiz?</p>
        <form method="post" class="d-grid gap-2 d-md-flex">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">O‘chirish</button>
            <a href="{% url 'admin_ombors' %}" class="btn btn-secondary btn-sm ms-md-auto">Bekor</a>
        </form>
    </div>
</div>
{% endblock %}
