<!DOCTYPE html>
<html>
<head>
    <title>Tizimga kirish</title>
    <style>
        body { font-family: Arial; background: #f7f7f7; }
        form { background: #fff; max-width: 350px; margin: 100px auto; padding: 32px; border-radius: 10px; box-shadow: 0 4px 12px #eee; }
        input, button { margin-top: 10px; padding: 8px; width: 100%; }
    </style>
</head>
<body>
<form method="post">
    <h2>Tizimga kirish</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Kirish</button>
    {% if form.errors %}
        <p style="color:red;">Login yoki parol noto‘g‘ri!</p>
    {% endif %}
</form>
</body>
</html>
